{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block layout_search_suggest_results %}
    {% set turboTargets = page.getExtension('turboSuggestTargets') %}

    {% if turboTargets and turboTargets|length > 0 %}
        {% block layout_search_suggest_turbo_targets %}
            {% for target in turboTargets %}
                {% block layout_search_suggest_turbo_target_item %}
                    {% if target.categoryId or target.landingPageId or target.productId %}
                        <li class="js-result" role="option">
                            {% if target.categoryId %}
                                {% set targetUrl = seoUrl('frontend.navigation.page', {'navigationId': target.categoryId}) %}
                                {% set targetTitle = target.translated.title ?: (target.category ? target.category.translated.name : '') %}
                            {% elseif target.landingPageId %}
                                {% set targetUrl = seoUrl('frontend.landing.page', {'landingPageId': target.landingPageId}) %}
                                {% set targetTitle = target.translated.title ?: (target.landingPage ? target.landingPage.name : '') %}
                            {% elseif target.productId %}
                                {% set targetUrl = seoUrl('frontend.detail.page', {'productId': target.productId}) %}
                                {% set targetTitle = target.translated.title ?: (target.product ? target.product.translated.name : '') %}
                            {% endif %}
                            <a href="{{ targetUrl }}"
                           class="btn btn-primary w-100 d-flex align-items-center text-start mb-2"
                           title="{{ targetTitle }}">
                            {% block layout_search_suggest_turbo_target_image %}
                                {% if target.media and target.media.url %}
                                    <div class="me-3" style="width: 50px; height: 50px; flex-shrink: 0;">
                                        {% set attributes = {
                                            class: 'rounded',
                                            style: 'width: 50px; height: 50px; object-fit: cover;',
                                            title: (target.media.translated.title ?: ''),
                                            alt: (target.media.translated.alt ?: '')
                                        } %}

                                        {% sw_thumbnails 'turbo-suggest-target-image' with {
                                            media: target.media,
                                            sizes: {
                                                default: '50px'
                                            },
                                            attributes: attributes
                                        } %}
                                    </div>
                                {% endif %}
                            {% endblock %}

                            <div class="flex-grow-1">
                                <div class="d-flex align-items-center">
                                    <div class="fw-bold flex-grow-1">
                                        {{ targetTitle }}
                                    </div>
                                    <div class="ms-3">
                                        {% sw_icon 'arrow-medium-right' style { size: 'sm', pack: 'solid' } %}
                                    </div>
                                </div>
                                {% if target.translated.teaserText %}
                                    <div class="small">
                                        {{ target.translated.teaserText }}
                                    </div>
                                {% endif %}
                            </div>
                            </a>
                        </li>
                    {% endif %}
                {% endblock %}
            {% endfor %}
        {% endblock %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block layout_search_suggest_result_total %}
    {% set turboTargets = page.getExtension('turboSuggestTargets') %}

    {# Don't show "No results found" if we have turbo targets #}
    {% if not (turboTargets and turboTargets|length > 0) %}
        {{ parent() }}
    {% endif %}
{% endblock %}
